extends layout

block head 
  title= title

block content
  h1 Messages

  ul.messages
    each message in messages
      li.messageCard
        p.text #{message.text}
        p.user #{message.user}

        - const hour = message.added.getHours()
        - const minutes = message.added.getMinutes() < 10 ? '0'+message.added.getMinutes() : message.added.getMinutes()
        - const isPm = hour > 12
        - const timeString = isPm ? `${hour-12}:${minutes} p.m.` : `${hour}:${minutes} a.m.`

        p.added #{timeString}

  a(href="/new"): button.newMessage: <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>